.game-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10%;
    /* position: absolute; */
}

.game-options-container .btn-newSnippet {
    background-color: #BC8785;
    color: white;
    border-radius: 18px;
    margin-right: 1px;
}

