.icon {
    /* position: absolute;
    top: 0;
    width: 1%;
    height: 1%; 
    float: right;
    margin-right: 5%; */
    max-width: 13%;
    max-height: 13%;
    padding: 15, 15, 15, 15;
    cursor: pointer;
}