div.setting { 
  width: 93%;
  height: 80px;
  background-color: rgb(58, 58, 58);
  border-radius: 1%/10%;
  margin: 12px auto;
  box-shadow: 0px 3.5px 0px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting h2 {
  font-size: 15pt;
  margin-left: 15px;
}

.dropdown-option {
  margin-right: 15px;
}

.dropdown-option a {
  color: pink;
}

.dropdown-option button {
  color: white;
}

.switch-option {
  margin-right: 20px;
}

/* 3 Below: Switch settings */
.form-switch .form-check-input {
  height: 25px;
  width: 50px;
}

.form-switch .form-check-input:focus {
  border-color: rgba(0, 0, 0, 0.25);
  outline: 0;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}

.form-switch .form-check-input:checked {
  background-color: #773ada;
  border-color: #570e38;
  border: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.range-option {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-right: 20px;
}

.range-option input {
  width: 150px;
}

.range-label {
  margin: auto;
  margin-right: 10px;
}