.snippet-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.snippet-options-container .btn-custom {
    background-color: #BC8785 !important;
    color: white;
    border-radius: 18px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-color: #E5CDCD;
    margin-right: 1px;
}

.snippet-options-container .btn-sides {
    background-color: #bc8785;
    color: #E5CDCD;
    border-radius: 18px;
    border-width: 0px;
}
  
.snippet-options-container .btn:hover {
    background-color: #b3807f !important;
    color: white !important;
}

.hihi.active {
    background-color: #501311 !important;
}