/* @font-face {
  font-family: cascadia-mono;
  src: url('../../public/fonts/CascadiaMono-Regular.ttf') format("truetype");
} */

.text-area-container {
  position: relative;
  font-family: Consolas, monospace;
  font-size: 150%;
  color: #D1918F;
  white-space: pre;
  margin-left: 5%;
}

.text-area-container input {
  position:absolute;
  width: 90%;
  height: 100%;
  opacity: 0%;
}

.line-number {
  margin-right: 4%;
  color:#B4948D;
}

.line {
  padding-bottom: 5px;
}

.word {
  padding-right: 0.4em;
  tab-size: 3;
}

.letter {
  display: inline-block;
  user-select: none;
}

.correct {
  color: #7D615F;
}

.visited {
  color: #7D615F;
}

.incorrect {
  text-decoration: underline red;
  color: red;
}

/* .active {
  background-color: lightblue;
} */
