.restart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('restart.png');
  background-color: rgba(240, 248, 255, 0);
  width: 80px;
  height: 80px;
  border: none;
  margin: auto;
  margin-top: 150px;
  cursor: pointer;
}