div.github-search-container {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 5vh;
    width: 800px;
    /* height: 700px; */
    /* background-color: rgb(42, 42, 42); */
    background-color: #fcdfe0;
    border-radius: 3%/4.5%;
    color: #7d615f;
    /*box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.3);*/
    filter: drop-shadow(10px 15px 4px rgba(0, 0, 0, 0.2));
    animation: fadeIn 0.1s;
  }

  .search-input-container input {
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    /* border: 0px solid rgba(125, 97, 95, 1); */
    border-color: transparent;
    padding-left: 10px;
    font-size: 15pt;
    color: white;
    background-color: #bc8785;
    outline: none;
  }

  .search-result div {
    margin-left: 5%;
  }

  .search-button-container button, .use-result-container button {
    width: 90%;
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: transparent;
    padding-left: 10px;
    font-size: 15pt;
    outline: none;
    background-color: #ebc6c6;
    color: #7d615f;
  }

  ::placeholder {
    color: #e3cccb;
  }
  
  @keyframes fadeInShade {
    0% { opacity: 0; }
    100% { opacity: 55%; }
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .black-shade {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 55%;
    cursor: default;
    animation: fadeInShade 0.3s;
  }
  
  h1, p {
    margin-left: 40px;
    margin-top: 20px;
  }

  h1 {
    font-size: 25pt;
  }

  p {
    font-size: 8pt;
  }
  
  hr {
    background-color: rgb(255, 253, 219);
    height: 3px;
    width: 90%;
    margin: auto;
  }

  .no-results {
    font-size: 15pt;
    color: red;
  }