.cursor {
  height: 1.6em;
  width: 1.5px;
  /* border-radius: 10% 10%; */
  background-color: black;
  position: absolute;
  margin-top: 0.5em;
  margin-left: 0.25em;
  left: 0;
  top: 0;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.05s;
  animation: cursor-blink 1.75s steps(3) infinite;
}

@keyframes cursor-blink {
  0% {
    visibility: visible;
  }

  30% {
    visibility: hidden;
  }
}