.shortcut-text {
    text-align: center;
    color: rgba(125, 97, 95, 1);
    padding-top: 8%;
}

.control-center {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 10%;
    align-items: center;
}