.correct {
  color: black;
}

.visited {
  color: black;
}

.incorrect {
  text-decoration: underline red;
  color: red;
}

.active {
   background-color: lightblue; 
}

/* @font-face {
  font-family: cascadia-mono;
  src: url('../../public/fonts/CascadiaMono-Regular.ttf') format("truetype");
} */

body {
  font-family: Consolas, monospace;
  color: rgb(148, 148, 148);
  white-space: pre;
}

.word {
<<<<<<< HEAD
  padding-right: 1.2vw;
=======
  padding-right: 0.4em;
>>>>>>> 840adbe133070fca520eef1c4ab0eb52081d937b
}