.correct {
  color: black;
}

.visited {
  color: black;
}

.incorrect {
  text-decoration: underline red;
  color: red;
}

/* .active {
   background-color: lightblue;
} */

/* @font-face {
  font-family: cascadia-mono;
  src: url('../../public/fonts/CascadiaMono-Regular.ttf') format("truetype");
} */

body {
  font-family: Consolas, monospace;
  color: rgb(148, 148, 148);
  white-space: pre;
}

.word {
  padding-right: 0.4em;
  tab-size: 3;
}

.letter {
  display: inline-block
}

.letter.correct.cursor {
  box-shadow: 1px 0px 0px 0px black;
}

.letter.incorrect.cursor {
  box-shadow: 1px 0px 0px 0px black;
}