.leaderboard-container {
    /* background: linear-gradient(to bottom, #f9f9f9, #fcdfdf); */
    background: #fcdfdf;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 70%;
    padding: 20px;
  }
  
  .leaderboard-table {
    border-collapse: seperate;
    border-spacing: 40px;
    margin: 0 auto;
    width: 100%;
  }
  
  .leaderboard-table th, .leaderboard-table td {
    border: none;
    padding: 1%;
    text-align: center;
  }
  
  .leaderboard-table th {
    /* background-color: #f7bfbf; */
    /* background-color: rgb(239, 177, 177); */
    background-color: #fcdfdf;
    padding: 10px;
    /* color: #999696; */
    color: rgba(125, 97, 95, 1);
    font-size: 100%;
    font-weight: 500;
    /* text-transform: uppercase; */

  }
  
  .leaderboard-table td {
    font-size: 16px;
  }

  .leaderboard-table td .first-col {
    border-radius: 15px;
  }

  .leaderboard-table tr:nth-child(odd) td {
    /* background-color: #f7bfbf; */
    /* background-color: #d5b0af; */
    background-color: #c99d9c;
    color: #fff;
  }

  .leaderboard-table tr:nth-child(even) td {
    color: rgba(125, 97, 95, 1);
    border-radius: 15px;
  }

  .leaderboard-table td:first-child {
    font-weight: bold;
  }

  .title-text {
    color: rgba(125, 97, 95, 1);
    font-size: 170%;
  }


.rc-tooltip {
  height: 20px;
  align-items: center;
  justify-content: center; 
  max-height: fit-content;
  display: inline-flex;
}

.rc-tooltip-arrow {
  visibility: hidden;
}

.rc-tooltip-content .rc-tooltip-inner {
  background-color: #D6B2B0;
  color: white;
  display: flexbox;
  max-height: 2px;
  /* line-height: 6px; */
  border-radius: 15px;
}
