.leaderboard-container {
    background: linear-gradient(to bottom, #f9f9f9, #fcdfdf);
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
  }
  
  .leaderboard-table {
    border-collapse: seperate;
    border-spacing: 40px;
    margin: 0 auto;
    width: 100%;
  }
  
  .leaderboard-table th, .leaderboard-table td {
    border: none;
    padding: 1%;
    text-align: center;
  }
  
  .leaderboard-table th {
    background-color: #f7bfbf;
    padding: 10px;
    color: #999696;
    font-size: 100%;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .leaderboard-table td {
    font-size: 16px;
  }
  
  .leaderboard-table tr:nth-child(even) td {
    background-color: #f7bfbf;
  }
  
  .leaderboard-table td:first-child {
    font-weight: bold;
  }
  