
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 92%;
    margin: 0 auto;
  }
  
  .logo {
    color: rgba(125, 97, 95, 1);
    font-size: 2.5em;
    text-decoration: none;
    margin: 0;
  }
  
  .button-container {
    display: flex;
    align-items: center;
  }
   
  .button-container a {
    text-decoration: none;
    margin-left: .5em;
    padding: 0.25em 1em;
    border: none;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
  }

  /* .dark a {
    color: black;
    background-color: #6FFF04;
    text-decoration: none;
    margin-left: .5em;
    padding: 0.25em 1em;
    border: none;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
  } */

  .button-container a:hover {
    background-color: rgb(188, 127, 127);
  }
  