.create-container {
  background: #fcdfdf;
  border-radius: 8px;
  margin: 80px auto;
  max-width: 400px;
  padding: 20px;
}

.create-title {
  margin-bottom: 10%;
}

.input-container {
  display: flex;
  justify-content: center;
  padding-bottom: 3.5%;
}

.input-textbox {
  border-radius: 8px;
  border-color: #fcdfdf;
  background-color: #bc8785;
  padding-left: 10px;
  color: #fff;
  width: 100%;
  height: 40px;
}

.button-container {
  display: flex;
  justify-content: right;
  padding-top: 5px;
}

.submit-button {
  background: #ebc6c6;
  border-color: transparent;
  color: #7d615f;
  justify-content: right;
  border-radius: 5px;
}

.input-textbox::placeholder {
  color: #fff9;
}
